{% extends 'shared/layout.html' %}

{% block maincontent %}

    
    <p class="resume-title">Add Job</p>
    <div id="full-resume-add">

        <!-- Form to add a job to the resume --> 
        <form  id="resume-add" method="POST" action="/addjob">
            <div id="resume-contain">

                <!-- Institutions information --> 
                <input type="text" class="resume-add-input resume-add-height" name="name" placeholder="Your Institution" required>
                <input type="text" class="resume-add-input resume-add-height" name="city" placeholder="Institution's City" required>
                <input type="text" class="resume-add-input resume-add-height" name="state" placeholder="Institution's State" required>
            
                <!-- Position information -->   
                <input type="text" class="resume-add-input resume-add-height" name="0 | title" placeholder="Your Position" required>
                <input type="text" class="resume-add-input resume-add-height" name="0 | responsibilities" placeholder="Your position description" required>
                <input type="text" class="resume-add-input resume-add-height" name="0 | start_date" placeholder="Your Position Start Date 2021-05-24" required>
                <input type="text" class="resume-add-input resume-add-height" name="0 | end_date" placeholder="Your Position End Date" >
                
                <!-- Experience information -->  
                <input class="resume-add-input resume-add-height" name="0 | 0 | experience" placeholder="Your Experience" required>
                <input class="resume-add-input resume-add-height" name="0 | 0 | experience-description" placeholder="Your Experience Description" required>
                <input class="resume-add-input resume-add-height" name="0 | 0 | skills" placeholder="Your Experience's Skills (seperated by;)" >
            
            </div>
            <input id="" class="resume-add-height resume-submit" value="Submit" type="Submit" name="submit" onclick="ResetAdding(event)">
        </form>
        <!-- Adds another position if pressed --> 
        <input id=" resume-add-on" class="resume-add-height" value="Add Position" type="Submit" name="add-position" onclick="AddPosition(event)">

        <!-- Adds another experience if pressed --> 
        <input id="resume-add-on" class="resume-add-height" value="Add Experience" type="Submit" name="add-experience" onclick="AddExperience(event)">
        
    </div>
{% endblock %}
