{% extends 'shared/layout.html' %}



{% block maincontent %}
<br><br>

<div class="main-full-text">
    <h1 id="fun-full-fact-header">Login</h1>
</div>

<!-- login box -->
<form id="login-form" onsubmit="checkCredentials(event)">
    
    <!-- login email -->
    <input type="email" class="login-form-input login-form-height" name="email" placeholder="Your Email" required>
    
    <!-- login password -->
    <input type="text" class="login-form-input login-form-height" name="password" placeholder="Your Password" required>
    
    <!-- submit -->
    <input id="login-form-submit" class="login-form-height" value="Submit" type="Submit" name="submit">

    <!-- attempts -->
    <div class="login-form-input login-form-height login-text" id="login-attempts-line"><p >Attempts:   <p id="login-attempts">0</p></p></div>
</form>

    <!-- sign up -->
    <div id="sign-up-contain"><a id="sign-up" href="/signup">Sign Up</a></div>


{% endblock %}


