{% extends 'shared/layout.html' %}

{% block maincontent %}

    
    <!--Decides if the user is an admin-->
    {% if session["admin"] %}


    <h1 class="marketplace-title">Welcome admin to the NFT Marketplace</h1>
    <h1 class="marketplace-title"><a class="marketplace-link" href="blockchainactivity">Click to see blockchian activity</a></h1>

    {%else %}
    <h1 class="marketplace-title">Welcome to the NFT Marketplace</h1>
    <h1 class="marketplace-title">What would you like to do today</h1>

    <div id="marketplace-selector">
        <a class="marketplace-link" href="nftsell">Your NFTs</a>
        <a class="marketplace-link" href="nftbuy">Buy NFT</a>
    </div>
    {% endif %}


    
    
{% endblock %}
