{% extends 'shared/layout.html' %}

{% block maincontent %}

    <div class="nft-title"><a class="marketplace-link" href="/nftbuy">Buy NFTS</a></div>

    <!--The amound of nfts the user has-->
    <div class="nft-title"><h1>You have {{image_data["tokens"]}} tokens</h1></div>

    <!--form for the user to upload or create a new nft-->
    <form  action="/ownednft" method="post" enctype="multipart/form-data">
        <div id="nft-input-creation">
            <input type="text" name="NFT Description" placeholder="NFT Description" required>
            <input type="number" min="1" name="NFT Token" placeholder="NFT Token" required>

            <!--Used if user wants to upload their own nft-->
            <input type="file" name="fileToUpload" id="fileToUpload" accept="image/jpeg,image/jpg">
        </div>
        <div class="submission-buttons">
            <!--Allows user to upload their own nft-->
            <input class="select-buttons" type="submit" value="Upload NFT" name="action">

            <!--Creates nft from a pre-existing image-->
            <input class="select-buttons" type="submit" value="Create NFT" name="action">
        </div>
    </form>
    <br>
    <div class="nfts-flex">

    <!--Runs through each nft that is owned-->
    {% if image_data["images"]|length != 0 %}
        {% for image in image_data["images"] %}
            <div>
                <img src="../static/marketplace/images/{{image['image_name']}}" width="225" height="240"alt="{{image['image_name']}}" loading="lazy">

                <!--Each nft has a form that allows the user to edit its info-->
                <form class="nfts-flex-col" action="/editimage" method="post">
                    <input placeholder="{{image['description']}}"  name="imageDescription" />
                    <input placeholder="{{image['tokens']}} tokens" type="number" name="imageTokens" min="1" />
                    <input type="hidden" value="{{image['image_id']}}" name="imageID"/>
                    <input class="select-buttons" type="submit" value="Edit" />
                </form>
                
            </div>

        {% endfor %}

    
    {% else %}

        <!--Runs if user has no nfts-->
        <div class="nft-title"><h1>You have no NFTS</h1></div>

    {% endif %}
</div>
    

{% endblock %}
