{% extends 'shared/layout.html' %}

{% block maincontent %}

    <p id="quote">"Behold piano great and old, it's master slumbers in far off cold, If you wish to see anew, call out to it - we see you."</p>

    <!--Usable Piano-->
    <div id="piano">
        <h1 id="key-title">The Great Old One</h1>
        <h1 id="awoken-title">I have awoken</h1>
        <div id="keys">
            <div class="white-key" id="65"><p class="key-type">A</p></div>
            <div class="black-key" id="87"><p class="key-type">W</p></div>
            <div class="white-key" id="83"><p class="key-type">S</p></div>
            <div class="black-key" id="69"><p class="key-type">E</p></div>
            <div class="white-key" id="68"><p class="key-type">D</p></div>
            <div class="blank-black-key"><p></p></div>
            <div class="white-key" id="70"><p class="key-type">F</p></div>
            <div class="black-key" id="84"><p class="key-type">T</p></div>
            <div class="white-key" id="71"><p class="key-type">G</p></div>
            <div class="black-key" id="89"><p class="key-type">Y</p></div>
            <div class="white-key" id="72"><p class="key-type">H</p></div>
            <div class="black-key" id="85"><p class="key-type">U</p></div>
            <div class="white-key" id="74"><p class="key-type">J</p></div>
            <div class="blank-black-key"><p></p></div>
            <div class="white-key" id="75"><p class="key-type">K</p></div>
            <div class="black-key" id="79"><p class="key-type">O</p></div>
            <div class="white-key" id="76"><p class="key-type">L</p></div>
            <div class="black-key" id="80"><p class="key-type">P</p></div>
            <div class="white-key" id="186"><p class="key-type">:</p></div>
        </div>
    </div>

{% endblock %}