{% extends 'shared/layout.html' %}

{% block maincontent %}

      <p class="resume-title">Which job would you like to remove</p>

      <!-- Form of the jobs that can be deleted -->  
      <form method="POST" action="/removejob" class="resume-pick-job">

      <!-- Runs through each institution --> 
      {% for inst_id, inst in resume_data.items() %}

        
        <input type="radio" name="option" value="{{ inst['name']}}" class="radio-input" required>
        <label class="radio-label" for="{{ loop.index }}">{{ inst['name']}}</label><br>


      {% endfor %}
      <input type="submit" value="Submit" class="resume-submit">
      </form>




{% endblock %}


