/* just the input of the form */
#resume-add{
    display: flex;
    flex-direction: column;

    
}
#resume-contain{
    display: flex;
    flex-direction: column;
}

/*the form of the edit resume page */
#resume-edit{

    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    justify-content: center;
    width: 40%;

    padding: 1rem;
}

/* The delete resume form*/
.resume-pick-job{
    margin: auto;
    text-align: center;
    width: 30%;

    padding-top: 2rem;
    padding-bottom: 6rem;
    
}

/* the full add to resume section */
#full-resume-add{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    justify-content: center;
    width: 30%;

    padding: 1rem;
    
}


/*The text inputs of the form*/
.resume-add-input{
    margin-top: .3rem;
    margin-bottom: .3rem;
}

.resume-add-height{
    height: 2rem;
}

/*the form submit button*/
.resume-submit{
    margin-top: 1rem;
    background-color: #5d229c;
    color: #ffffff;
    font-weight: 600;
    font-size: large;
    margin-bottom: 0.5rem;

}

/*title of the resume pages */
.resume-title{
    margin: auto;
    text-align: center;
    font-size: 2rem;
    padding-top: 1rem;
}

/* link to edit the resume*/
#edit-resume {
    display: inline-block;
    font-size: 2rem;
    color: #000;
    text-align: center;
    text-decoration: none;
    line-height: 100px; /* adjust this value to center the link vertically */
}

/*Gets rid of all the link coloring activity besides hover*/
#edit-resume:link, #edit-resume:visited,#edit-resume:active{
    color: #000;
    text-decoration: none;
}

/*Changes the color on hover and lowers opacity*/
#edit-resume:hover{
    color: #0591AF;
    opacity: .75;
}

#edit-resume-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }



.radio-input {

    font-size: large;
}
  

.radio-label {
    font-size: large;
}

/*the links of the options for the resume */
.resume-option{


    font-size: large;
    
    text-decoration: none;
    color: #000;
    padding-bottom: 1rem;
}

#resume-options{
    display: flex;
    flex-direction: column;
    margin:auto;
    text-align: center;
}


/*Gets rid of all the link coloring activity besides hover*/
.resume-option:link, .resume-option:visited,.resume-option:active{
    color: #000;
    text-decoration: none;
}

/*Changes the color on hover and lowers opacity*/
.resume-option:hover{
    color: #0591AF;
    opacity: .75;
}

/*Removes the non mobile navigation bar*/
@media screen and (max-width:650px) {

    #full-resume-add{
        width: 50%;
        
    }
    .resume-pick-job{
        width: 50%;
    }

    #resume-edit{


        width: 50%;
    }
    
}