body {
    width: 100%;
    margin: 0;
}

/* the flex of the main consists of image and text */
.main-flex{
    
    text-align: center;
    align-content: center;
    font-size: calc(1em + .5vw); 
    display: flex;
    flex: 1;
    gap: 3%;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    border-bottom: .1rem solid;
    border-color: #D3D3D3;
    padding: 5rem 0;
    
    margin: auto;
    max-height: 50vh;
    width: 80vh;
}

/*the image in the flex*/
#main-half-image{
    border: #000 solid;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 50vh;
    
}
/*the parts of the flex*/
.main-halfer{
    height: 100%;
    width: 100%;
    max-height: 50vh;
    

}

/*text of the flex*/
#main-half-text{
    overflow: auto;
}

/*text that is the full width of the page*/
.main-full-text{
    text-align: center;
}


#fun-full-text-header{
    font-size: calc(1em + .8vw); 
    
    font-weight: 550;
}

#fun-full-text-body{
    font-size: calc(1em + .5vw); 
}

#main-bold-title{
    font-size: calc(1.3em + .5vw);
}

/* The flex parts of the resume*/
.main-resume-flex{
    text-align: center;
    align-content: center;
    display: flex;
    flex: 1;
    gap: 3%;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    
    margin: auto;
    max-height: 50vh;
    width: 50%;
}

.main-resume-width{
    margin: auto;
    max-height: 50vh;
    width: 50%;
}

.main-resume-break{
    margin-top: 3vh;
    margin-bottom: 2vh;
}

#main-resume-skills{
    font-size: .8em;
    margin-bottom: 15px;
}

#main-resume-respon{
    margin-top: -15px;
    margin-bottom: 15px;
    font-size: .9em;
}

#main-resume-name{
    font-size: 1.1em;
}

#main-resume-descrip{
    font-size: .9em;
}

#main-feedback-title{
    text-align: center;
    font-size: calc(1.1em + .4vw);
}

/* Pushes the lines of the resume toward the center*/
#main-feedback-line{
    margin-left: 25vw;
}
 
/*pushes the margin bottom down for each feedback section */
#main-feedback-push{
    margin-bottom: 5rem;
}

/*changing flex direction when mobile*/
@media screen and (max-width:650px) {
    .main-flex{
        flex-direction:column;
        margin-top: 4rem;
        padding-bottom: 8rem;
        width: 50%;
    }
    #main-half-text{
        overflow:visible;
    }
    #main-feedback-line{
        margin-left: 10vw;
    }

    
}

/*changing flex direction when tablet*/
@media screen and (max-width:850px){

    .main-resume-flex, .main-resume-width{
        width: 90%;
    }


    
}